<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Slack Scheduler has helped you scheduled your meeting!</h1>
    <p><%= @user.name %>,</p>
    <p>Here is the event reminder for <em><%= @summary %></em>.</p>
    <p>Just click to add to your calendar.</p>
    <p>&nbsp;</p>
  <p>Thanks for using Slack Scheduler</p>
</body>
</html>
