<!DOCTYPE html>
<html>
    <head>
          <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
            </head>
              <body>
                    <h1>Slack [re]Minder for <%= @user.name %></h1>
                    <p>This is your reminder.  Click to add to your calendar.
                  We will add more details here.
                  </p>
                  <p>Thanks for using SlackMinder</p>
                </body>
                </html>
